*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.card-body{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.box{
  margin-left: 20px;
  margin-right: 20px;
}
.box-body{
    margin-top: 5px;
}
